ion-header{
    margin:auto;
    background-color: rgba(255, 60, 0, 0.726) ;
}
ion-toolbar{
    margin: auto;
    background-color: #f8f8f87e;
}

ion-title{
    text-align: center;
    color: rgb(0, 0, 0);
}
ion-content{
    background: url(https://estaticos-cdn.elperiodico.com/clip/a326cb91-52a8-42d2-b3d0-58b99074f848_alta-libre-aspect-ratio_default_0.jpg) no-repeat center #efeff1 !important;
    background-size: cover !important;
}
ion-item{
    background-color: #00000096;
}
